body {font-family:  'Arita-dotum-Medium';}

/** movie **/
#title1{ color: black; font-size: 30px; margin-left: 450px; position:absolute; top:200px; }

/** 현재 상영중 **/
#title2 { color: black; font-size: 30px; margin-left: 900px; position:absolute; top:230px;}

/** 상영 예정 **/
a[id="category1"] { color: black; font-size: 20px; margin-left: 1050px; position:absolute; top:300px;}
/** 현재 상영중 **/
a[id="category2"] { color: black; font-size: 20px; margin-left: 920px; position:absolute; top:300px;}
/** 상영 종료 **/
a[id="category3"] { color: black; font-size: 20px; margin-left: 800px; position:absolute; top:300px;}	

#movieInfoBox
{ background-color: transparent;
border-radius:20px;
margin-bottom: 250px;
padding: 150px;
width: 630px;
height: 450px;
margin-left: auto;
margin-right: auto; }

#movieList
{ line-height : 2.5;  margin-left: 700px; height: 700px;}
