html, body {
	margin:0;
	padding:0;
	width:100%;
	height: 100%;
	font-family: 'Arita-dotum-Medium';
}
header{ 
	position: absolute;
	left: 0;
	top: 0;
	background: white;
	height: 55px;
	z-index: 500;
	width: 100%;
}  
#headbar{
	width :1300px;
	position: absolute;
	left:50%;
	margin-left: -650px;
}
#maincontent
{
	width :1300px;
	position: absolute;
	left:50%;
	margin-left: -650px;
	margin-top : 10%;
}
section{
	position: absolute;
	left: 0;
	background:white;
	top: 55px;
	color:white;
    width: 100%;
	height: 500px;
	z-index: 1;
}
#title1{
	color: black;
	font-size: 200%;
	position: absolute;
	top: 10px;
	left: 170px;
}
#title2{
	color: black;
	font-size: 160%;
	font-weight: bold;
	position: absolute;
	top: 150px;
	left: 150px;
	margin-left:10%;
}
#mainvideo
{
	position: absolute;
	top: 70px;
	left: 230px;
	width:560px ;
	height:315px;
}

a[id="category1"] {
  	color: white;
	font-size: 150%;
	font-weight: bold;
  	position: absolute;
  	top: 100px;
	left: 150px;;
}
a[id="category2"] {
  	color: white;
	font-size: 150%;
	font-weight: bold;
  	position: absolute;
  	top: 100px;
	left: 300px;;
}
a[id="category3"] {
	color: white;
	font-size: 150%;
	font-weight: bold;
	position: absolute;
  	top: 100px;
	left: 480px;;
}

#movieNowBox
{
	color: black;
	position: absolute;
	top: 200px;
	left: 150px;
	height: 800px;
	width: 1000px;
	background-color: white;
}

#movieList
{
	color: white;
	font-size: 150%;
	font-weight: bold;
  	position: absolute;
  	top: 200px;
	left: 150px;
}

.movieTable{
	width:700px; 
    margin: auto;
	font-weight: bold; 
}

.movieTable2{
	width:900px; 
    margin: auto;
    font-size: 90%;
	font-weight: bold; 
}


a[class="button"] {	
	-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	display: block;
	text-decoration: none;
	border-radius: 4px;
	padding: 10px 20px;
}

button[class="button"] {
	
	-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	display: block;
	text-decoration: none;
	border-radius: 4px;
	padding: 10px 20px;
}

a.button {
	color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(255, 54, 0, 0.85) 0 0px 0px 2px inset;
}

a.button:hover {
	background-color: orange;
}

button.button {
	width:330px;
	 text-align:center;
	 background-color:#FFFFFF;
	 border:0; 
	 box-shadow: 1px 1px 3px 1px #dadce0;
	 color : black; 
	 margin : auto;
}

button.button:hover {
	background-color: orange;
}
section button:active{
	background-color :  orange;
}


section button:hover{
	box-shadow:0 0 0 0 rgba(0,0,0,0.25) inset;
	background-color: orange;

}

.mymenu:hover{
	text-decoration: underline;
}

.reserve-container {
    margin-top: 140px;
    display: flex;
    justify-content: center;
    height: 700px;    
}

.reserve-title {
    border-bottom: 1px solid #dddddd;
    background-color: orange;
    text-align: center;
    color: white;
    padding: 5px;
    font-weight: bold;
    font-size : 1.3em;
}

.movie-part {
    width: 294px;
}

.theater-part {
    width: 264px;
}

.day-part {
    width: 81px;
}

.time-part {
    width: 384px;
}

.movie-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size : 0.9em;
}

.movie-list-button {
    width: 294px;
    height: 49px;
    color: black;
    background-color:#FFFFFF;
    font-size: 100%;
    border : solid 0px;
    box-shadow: 1px 1px 3px 1px #dadce0;
  	
    
}
.clicked {	
	color: black;
	background-color: white;
}

.theater-container {
    
    height: 300px;    
}

.theater-wrapper {
    margin-top: 10px;
    margin-left: 50px;
    padding-top: 2px;    
    width: 260px;
}

.theater-location-wrapper {
    margin-top: 1px;
    flex-grow: 1;    
    flex-direction: column;   
}

.theater-location {
    
    color: black;
    background-color:#FFFFFF;
    height: 30px;
    text-align: center;
    margin-top: 1px;
    width:80px;
    box-shadow: 1px 1px 3px 1px #dadce0;
    border : 0;
}

.theater-place-wrapper {
    padding-right: 2px;
    margin-top: 2px;
    flex-grow: 1;

}
.theater-place {
    
    
    color:  black;
    background-color: #FFFFFF;
    text-align: center;
    box-shadow: 1px 1px 3px 1px #dadce0;
    border : 0;
   
}

.day-container{
	margin: 5px;	
	display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: -2px;
    
}

.day-button{
	color: black;
    background-color:#FFFFFF;
    height: 30px;
    text-align: center;
    margin-top: 1px;
    width:80px;
    font-size : 0.9em;
    box-shadow: 1px 1px 3px 1px #dadce0;
    border : 0;
}


.reserve-where {
    margin-left: 40px;
    font-weight: bold;    
}

.reserve-time-wrapper {		
	display:inline;		 
	margin-top: 25px;		 
	width: 33%;
}

.reserve-time-button {    
    width: 120px;
    height: 50px;
    background-color:#FFFFFF;
    margin-top: 10px;
    margin-left:30px;
    font-size :0.9em;
    box-shadow: 1px 1px 3px 1px #dadce0;
    border : 0;
}

.reserve-time-want {
    font-size: 100%;
    color: black;
}

#discount {
	font-size:15px;
	color : red;
	
}

#hyun {
	font-size : 20px;
	margin-left :10%;
}

#hyun1 {
	margin-left :15%;
	margin-top:3%;
}

#title3{
	margin-left : 70%;
}


 footer {
   width:100%;
   height:100px;
   position:absolute;
   bottom:0;
  text-align: center;
  color: white;

 
} 
